@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

:root {
	--blue: #46ACC2;
	--teal: #498C8A;
	--red: #E53D00;
	--yellow: #FFE900;
	--offwhite: #F9F9F9;
	--darkgrey: #444444;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: var(--offwhite);
  color: var(--darkgrey);
}

#root {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.2);
	background: #fff;
	margin-top: 100px;
	margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

header {
	padding: 20px;
	background: var(--blue);
	border-bottom: 3px solid var(--teal);
}
header h1 {
	color: #fff;
	margin: 0;
	font-size: 3em;
	text-align: center;
	line-height: 1.75;
	margin-bottom: 1rem;	
	text-shadow: 0 0 10px rgba(68, 68, 68, 0.4);
}
header h1 span {
	font-size: 1rem;
	display: block;
	line-height: 1.75;
}

#content {
	padding: 30px 30px 60px;
	text-align: center;
}

section {
/*	width: 100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;*/
}

input {
	border: 0;
	border-bottom: 2px solid rgba(68, 68, 68, 0.2);
	font-size: 2em;
	outline: none;
	font-weight: 100;
	max-width: 500px;
	width: 100%;
    transition: border-color 0.5s ease;
    padding: 0;
    color: var(--darkgrey);
    letter-spacing: 1px;
}
input:focus {
	border-color: var(--blue);
}

.list-items {
	margin-top: 60px;
}
.item-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.item {
	position: relative;
	margin-bottom: 30px;
}
.item:hover .delete-item,
.item:hover input[type="checkbox"] {
	opacity: 1;
}
.item input[type="text"] {	
	transition: all 0.5s ease;
}
.delete-item {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--red);
    cursor: pointer;
    font-size: 2em;
    margin-left: 15px;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-weight: 100;
}
.item input[type="checkbox"] {
	position: absolute;
	display: inline;
	top: 50%;
	transform: translateY(-50%);
    width: auto;
    margin-left: -1em;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.item input {
	border-color: transparent;
}
.item input:focus {
	border-color: var(--blue);
}

.item.complete input[type="text"] {
	color: rgba(68, 68, 68, 0.4);
	text-decoration: line-through;
}

.actions {
	text-align: left;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.actions button {
	background: none;
	border: 0;
	cursor: pointer;
	padding: 0;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 100;
	color: var(--red);
}


